* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  min-height: 100vh;
  font-size: 100%;
}
html {
  scroll-behavior: smooth;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  font-family: $josefin;
}
.container {
  margin: 0 auto;
  padding: 0 30px;
  max-width: 1170px;
  width: 100%;
}
// .primary-btn {
  // @include flex(center, center);
  // @include text($H60, 400, $white);
  // font-family: $aleo;
  // line-height: 1.63;
  // letter-spacing: 1.2px;
  // text-transform: uppercase;
  // width: 225px;
  // height: 60px;
  // background: linear-gradient(50deg, #496bfe 40%, #5474fd 40%);
  // position: relative;
// }